.features {
	@include adaptiv-value("padding-top", 144, 80);
	@include adaptiv-value("padding-bottom", 144, 80);
	&__container {
	}

	&__grid {
		display: grid;
		@include adaptiv-value("gap", 20, 16);

		@media (min-width: 700px) {
			grid-template-columns: 41% 18% 41%;
			width: calc(100% - 40px);
		}
	}

	&__item {
		background-color: var(--light-bg);
		display: flex;
		flex-direction: column;
		@include adaptiv-value("padding", 42, 32);
		@include adaptiv-value("border-radius", 40, 24);

		.text {
			@include adaptiv-value("margin-top", 20, 16);
		}
		.subtitle {
			@include adaptiv-value("margin-top", 16, 20);
		}

		.tg-msg {
			@include adaptiv-value("font-size", 19, 10);
		}
	}
}

.features-currencies {
	display: flex;
	flex-direction: column;
	@include adaptiv-value("gap", 42, 24);

	@media (min-width: 700px) {
		grid-column: span 3;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;

		@media (min-width: 700px) {
			justify-content: space-between;
			order: 1;
		}

		.features-currencies-item {
			display: flex;
			flex: 0 0 25%;

			&:nth-child(n + 5) {
				justify-content: flex-end;
			}
			&__text-block {
			}
			&__img {
				@include adaptiv-value("width", 96, 56);
				transition: transform 400ms;
			}

			&__text {
				display: none;

				@media (min-width: 700px) {
					display: block;
					@include adaptiv-value("font-size", 14, 12);
					@include adaptiv-value("margin-top", 12, 8);
					color: rgba(black, 0.4);
					transition: color 400ms;
				}
			}

			&.active {
				.features-currencies-item__img {
					transform: scale(1.1);
				}
				.features-currencies-item__text {
					color: rgba(black, 1);
				}
			}

			@media (min-width: 700px) {
				flex: 0 0 min-content;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	&__title {
		margin-top: 0 !important;
	}

	&__text {
	}
}
.features-oneclick {
	&__body {
		position: relative;
		margin: 0 auto;
		@include adaptiv-value("margin-top", 37, 23);
		@include adaptiv-value("margin-bottom", 53, 26);
		display: flex;
		justify-content: center;
		width: max-content;
	}

	&__btn {
		border-radius: 17px;
		background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
		font-size: 22px;
		font-weight: 500;
		padding: 18px 40px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		animation: btn-l 2s infinite linear;
		img {
			height: 1.4em;
			margin-right: 4px;
		}
	}

	&__cursor {
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translate(100%, 100%);

		animation: cursor 2s infinite linear;
	}

	&__title {
	}

	&__text {
	}
}
.features-rates {
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__swap-list {
		width: 200px;
		@include adaptiv-value("height", 96, 66);
		@include adaptiv-value("width", 164, 114);
		position: relative;
	}

	&__item {
		@include adaptiv-value("width", 96, 66);
		@include adaptiv-value("height", 96, 66);
		border: 2px solid white;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		top: 0;
		transition-duration: 0.7s;
		transition-property: transform, left;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 1;
			transition: 0.7s opacity;
		}

		&:nth-child(1) {
			&::after {
				background: linear-gradient(25deg, #8ddad5 -22.31%, #1ba27a 65.28%);
			}
		}
		&:nth-child(2) {
			&::after {
				background: linear-gradient(30deg, #ff930f -50.58%, #fbc411 93.3%);
			}
		}
		&:nth-child(3) {
			&::after {
				background: linear-gradient(211deg, #04befe -2.24%, #4481eb 108.4%);
			}
		}

		&[data-order="1"] {
			left: 0%;
			z-index: 1;
		}
		&[data-order="2"] {
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
		}
		&[data-order="3"] {
			left: 100%;
			transform: translateX(-100%);
			z-index: 3;
			&::after {
				opacity: 0;
			}
		}
	}

	&__swap-btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(8px);
		border-radius: 19px;
		border: 1px solid #fff;
		position: relative;
		padding: 4px;
		@include adaptiv-value("padding-left", 12, 8);
		@include adaptiv-value("padding-right", 12, 8);
		margin: 0 -16px;
		z-index: 10;

		svg {
			@include adaptiv-value("width", 19, 14);
			&:nth-child(2) {
				transform: rotate(180deg);
			}
		}
	}

	&__dollar {
		@include adaptiv-value("width", 92, 62);
	}

	&__title {
	}

	&__text {
	}
}
.features-statistics {
	@media (min-width: 700px) {
		grid-column: 2 / span 2;
		grid-row: 2 / span 2;
	}
	&__body {
		flex: 1;
		display: flex;
		flex-direction: column;
		.tg {
			background: url("../img/tg-bg-1.jpg");
			@include adaptiv-value("padding-top", 47, 24);
			@include adaptiv-value("padding-bottom", 47, 24);
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex: 1;

			&__msg-list {
				position: relative;
			}

			&__actions {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 3px;
			}

			.tg-msg {
				@include adaptiv-value("border-radius", 16, 9);
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 0;
				opacity: 0;
				margin-bottom: 0;
				transition: 900ms opacity;

				&.active {
					position: relative;
					z-index: 1;
					opacity: 1;
				}
			}

			.tg-action {
				background: rgba(54, 136, 194, 0.82);
				@include adaptiv-value("padding-top", 15, 8);
				@include adaptiv-value("padding-bottom", 15, 8);
				transition: 900ms background-color;

				&:nth-last-child(1),
				&:nth-last-child(2) {
					grid-column: span 2;
				}

				&.active {
					background-color: hsla(205, 56%, 40%, 0.82);
					&::before,
					&::after {
						content: "·";
						margin: 0 4px;
					}
				}
			}
		}
	}

	&__title {
	}

	&__text {
	}
}
.features-send {
	padding-top: 0;
	@media (min-width: 700px) {
		grid-column: span 2;
	}
	&__body {
		display: flex;
		justify-content: center;
	}

	&__phone {
		@include adaptiv-value("width", 474, 245);
		@include adaptiv-value("height", 360, 194);
		background: url("../img/send-phone.png") center / contain no-repeat;
	}

	&__notice-list {
		@include adaptiv-value("margin-left", 31, 17);
		@include adaptiv-value("margin-right", 31, 17);
		@include adaptiv-value("margin-top", 40, 15);
		@include adaptiv-value("height", 145, 85);
		position: relative;
	}

	&__title {
	}

	&__text {
	}
}
.phone-notice {
	background: linear-gradient(98deg, #e8f2f9 15.04%, #e8f2f9 52.22%, #e9f1fa 90.93%);
	display: flex;
	align-items: center;
	@include adaptiv-value("gap", 13, 7);
	padding: 7px;
	border-radius: 13px;
	position: absolute;
	width: 100%;
	transition: 1.3s;
	transition-property: top, transform, opacity;
	overflow: hidden;

	&__image-part {
	}

	&__image {
		position: relative;
	}

	&__image-bot {
		border-radius: 50%;
		@include adaptiv-value("width", 41, 22);
		@include adaptiv-value("height", 41, 22);
	}

	&__image-app {
		position: absolute;
		display: block;
		right: 0;
		bottom: 0;
		@include adaptiv-value("width", 18, 10);
		@include adaptiv-value("height", 18, 10);
	}

	&__body {
		.tg-msg {
			background-color: transparent;
			@include adaptiv-value("font-size", 17, 9);
			padding: 0;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		@include adaptiv-value("font-size", 17, 9);
		font-weight: 600;
	}

	&__time {
		@include adaptiv-value("font-size", 13, 7);
		margin-right: 0.6em;
		color: #7b8992;
	}

	&::after {
		content: "";
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		background: linear-gradient(98deg, #e8f2f9 15.04%, #e8f2f9 52.22%, #e9f1fa 90.93%);
	}

	&[data-order="1"] {
		z-index: 1;
		top: 0%;
		transform: translateY(50%) scale(0.9);
		opacity: 0;
	}
	&[data-order="2"] {
		z-index: 2;
		top: 35%;
		transform: translateY(-35%) scale(0.9);
		opacity: 0.7;
		&::after {
			opacity: 0.7;
		}
	}
	&[data-order="3"] {
		z-index: 3;
		top: 100%;
		transform: translateY(-100%) scale(1);
		opacity: 1;
		&::after {
			opacity: 0;
		}
	}
}
.features-anon {
	&__body {
		flex: 1;
		.tg {
			background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
			@include adaptiv-value("padding", 26, 22);
			@include adaptiv-value("padding-top", 48, 24);
			@include adaptiv-value("padding-bottom", 48, 24);

			.tg__msg-list {
				position: relative;
				@include adaptiv-value("height", 153, 123);
			}

			.tg-msg {
				@include adaptiv-value("font-size", 18, 11);
				@include adaptiv-value("border-radius", 16, 9);
				position: absolute;
				transition: 1s;
				transition-property: top, transform, opacity;

				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background: white;
					border-radius: 30px;
					transition: 1s opacity;
				}

				&[data-order="1"] {
					z-index: 1;
					top: 0%;
					transform: translateY(50%) scale(0.9);
					opacity: 0;
				}
				&[data-order="2"] {
					z-index: 2;
					top: 35%;
					transform: translateY(-35%) scale(0.9);
					opacity: 0.7;
					&::after {
						opacity: 0.7;
					}
				}
				&[data-order="3"] {
					z-index: 3;
					top: 100%;
					transform: translateY(-100%) scale(1);
					opacity: 1;
					&::after {
						opacity: 0;
					}
				}
			}
		}
	}

	&__title {
	}

	&__text {
	}
}

body {
	&.dark-theme {
		.features__item {
			background-color: var(--dark-bg);
		}
		.features-currencies-item {
			&__text {
				color: rgba(white, 0.4);
			}

			&.active {
				.features-currencies-item__text {
					color: rgba(white, 0.8);
				}
			}
		}
		.features-oneclick__btn {
			background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
			&.anim {
				animation-name: btn-d;
			}
		}
		.features-oneclick__cursor {
			path {
				stroke: black;
			}
		}
		.features-rates__item {
			border-color: black;
		}
		.features-rates__swap-btn {
			background: rgba(17, 17, 17, 0.4);
			border-color: #191919;

			svg {
				path {
					stroke: white;
				}
			}
		}
		.features-send__phone {
			background: url("../img/send-phone-d.png") center / contain no-repeat;

			.phone-notice {
				background: #222;
				&::after {
					background: #222;
				}
				.tg-msg {
					color: white;
				}
			}
		}
	}
}

@keyframes cursor {
	40% {
		transform: translate(20%, 50%);
	}
	60% {
		transform: translate(20%, 50%);
	}
	90% {
		transform: translate(100%, 100%);
	}
}
@keyframes btn-l {
	39% {
		background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
		transform: scale(1);
	}
	40% {
		background: #d4e2f7;
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	60% {
		background: #d4e2f7;
		transform: scale(1);
	}
	63% {
		background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
	}
}
@keyframes btn-d {
	39% {
		background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
		transform: scale(1);
	}
	40% {
		background: linear-gradient(233deg, hsl(210, 90%, 60%) -20.48%, hsl(212, 93%, 29%) 97.38%);
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	60% {
		background: linear-gradient(233deg, hsl(210, 90%, 60%) -20.48%, hsl(212, 93%, 29%) 97.38%);
		transform: scale(1);
	}
	63% {
		background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
	}
}
