* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0;
}

textarea, input {
  font: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --dark: #0D0D12;
  --dark-2: #232328;
  --main: #41A4DF;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Semi Bold"), local("Inter-Semi-Bold"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Regular"), local("San-Francisco-Pro-Display-Regular"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Medium"), local("San-Francisco-Pro-Display-Medium"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Bold"), local("San-Francisco-Pro-Display-Bold"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Inter";
  font-weight: 500;
  font-size: calc(18px + 2 * (100vw - 375px) / 1545);
  line-height: 1.2;
  color: var(--dark);
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.btn {
  background-color: var(--main);
  padding: calc(12px + 6 * (100vw - 375px) / 1545);
  padding-left: calc(32px + 10 * (100vw - 375px) / 1545);
  padding-right: calc(32px + 10 * (100vw - 375px) / 1545);
  color: white;
  border-radius: 100px;
  font-size: calc(18px + 2 * (100vw - 375px) / 1545);
  font-weight: 500;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
}
.title span {
  color: var(--main);
}

.subtitle {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
}

.text {
  font-weight: 400;
}

.tg {
  padding: 0 28px;
  border-radius: 24px;
}
.tg * {
  font-size: 14px;
  font-family: "San Francisco Pro";
  font-weight: 400;
}
.tg-msg {
  background-color: #fff;
  color: var(--dark);
  border-radius: 13px;
  padding: 7px 11px;
  font-size: calc(14px + 6 * (100vw - 375px) / 1545);
}
.tg-msg img {
  height: 1em;
  vertical-align: middle;
}
.tg-msg b {
  font-weight: 700;
}
.tg-msg:not(:last-child) {
  margin-bottom: 3px;
}
.tg-msg .time {
  color: rgba(17, 17, 17, 0.4);
  font-weight: 500;
  font-size: calc(11px + 4 * (100vw - 375px) / 1545);
  padding-left: 5px;
  padding-top: 0.4em;
  float: right;
}
.tg-msg .clear {
  clear: both;
}

.tg-action {
  font-weight: 500;
  color: white;
}

.header {
  padding-top: 44px;
}
.header__container {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  align-items: center;
  gap: 8px;
}
.header__logo {
  flex: 1;
}
.header__menu {
  display: none;
  gap: 32px;
  justify-content: center;
  flex: 1 1 auto;
}
.header__menu a {
  color: var(--dark);
  font-weight: 500;
}
.header__menu a:visited {
  color: var(--dark);
}
@media (min-width: 700px) {
  .header__menu {
    display: flex;
  }
}
.header__action-btn {
  background-color: rgba(41, 126, 226, 0.12);
  color: var(--main);
}

.logo {
  border-radius: 12px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}

.mode-switcher {
  padding: 5px;
  margin-right: 10px;
  height: 100%;
  background-color: transparent;
}
.mode-switcher img {
  width: calc(24px + 8 * (100vw - 375px) / 1545);
}

.intro {
  margin-top: 40px;
  padding-bottom: calc(116px + 24 * (100vw - 375px) / 1545);
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 700px) {
  .intro__wrapper {
    flex-direction: row;
    gap: 0;
  }
}
.intro__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 700px) {
  .intro__body {
    align-items: flex-start;
    flex-basis: calc(300px + 450 * (100vw - 375px) / 1545);
  }
}
.intro__title {
  font-size: calc(46px + 34 * (100vw - 375px) / 1545);
  letter-spacing: -2.4px;
}
@media (min-width: 700px) {
  .intro__title {
    text-align: left;
  }
}
.intro__text {
  margin-top: calc(24px + 8 * (100vw - 375px) / 1545);
  text-align: center;
  font-weight: 400;
}
@media (min-width: 700px) {
  .intro__text {
    text-align: left;
  }
}
.intro__action-btn {
  margin-top: calc(12px + 20 * (100vw - 375px) / 1545);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 600;
}
@media (min-width: 700px) {
  .intro__action-btn {
    margin-left: 0;
  }
}
.intro__phone {
  flex: 1;
}

.intro-bots {
  margin-top: calc(24px + 32 * (100vw - 375px) / 1545);
}
.intro-bots__list {
  display: flex;
}
.intro-bots__item {
  width: calc(61px + 2 * (100vw - 375px) / 1545);
  height: calc(61px + 2 * (100vw - 375px) / 1545);
  border: 2px solid white;
  border-width: calc(2px + 2 * (100vw - 375px) / 1545);
  overflow: hidden;
  border-radius: 50%;
}
.intro-bots__item:not(:last-child) {
  margin-right: calc(-12px + -3 * (100vw - 375px) / 1545);
}
.intro-bots__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro-bots__text {
  margin-top: calc(14px + 2 * (100vw - 375px) / 1545);
  text-align: center;
}

.intro-phone {
  display: flex;
  justify-content: center;
}
.intro-phone img {
  width: calc(302px + 26 * (100vw - 375px) / 1545);
}

.usecases {
  background-color: var(--dark-2);
  color: white;
  padding-top: calc(32px + 164 * (100vw - 375px) / 1545);
  padding-bottom: calc(32px + 164 * (100vw - 375px) / 1545);
}
.usecases .slider__slide {
  display: flex;
  flex-direction: column;
  gap: calc(32px + 90 * (100vw - 375px) / 1545);
}
.usecases .slider__slide:nth-child(1) .tg {
  background: linear-gradient(340deg, #faaca8 8.42%, #ddd6f3 91.45%);
}
.usecases .tg {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(335px + 153 * (100vw - 375px) / 1545);
  width: calc(335px + 153 * (100vw - 375px) / 1545);
}
.usecases__text {
  margin-top: calc(24px + 8 * (100vw - 375px) / 1545);
  text-align: center;
}
.usecases__action-btn {
  width: 100%;
  margin: 32px 0;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider__line {
  display: flex;
  align-items: center;
  transition: all 1s;
}
.slider__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.slider__dot {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.24);
  flex: 1 1 auto;
  border-radius: 90px;
}
.slider__dot.active-dot {
  background-color: var(--main);
}
.slider__cur-count, .slider__all-count {
  font-size: 14px;
}

.dn {
  display: none;
}