* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0;
}

textarea, input {
  font: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --dark: #0D0D12;
  --dark-2: #232328;
  --dark-bg: #18181D;
  --light-bg: #F7F9FB;
  --main: #41A4DF;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Semi Bold"), local("Inter-Semi-Bold"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Regular"), local("San-Francisco-Pro-Display-Regular"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Medium"), local("San-Francisco-Pro-Display-Medium"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Bold"), local("San-Francisco-Pro-Display-Bold"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF-Mono";
  src: url("..fonts/SF-Mono-Regular.woff2") format("woff2"), url("..fonts/SF-Mono-Regular.woff") format("woff"), url("..fonts/SF-Mono-Regular.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Inter";
  font-weight: 500;
  font-size: calc(18px + 2 * (100vw - 375px) / 1545);
  line-height: 1.2;
  color: var(--dark);
  background-color: #fff;
}
body.dark-theme {
  background-color: var(--dark);
  color: white;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.btn {
  background-color: var(--main);
  padding: calc(12px + 6 * (100vw - 375px) / 1545);
  padding-left: calc(32px + 10 * (100vw - 375px) / 1545);
  padding-right: calc(32px + 10 * (100vw - 375px) / 1545);
  font-size: calc(18px + 2 * (100vw - 375px) / 1545);
  border: 1px solid transparent;
  color: white;
  border-radius: 100px;
  font-weight: 500;
}

.title {
  font-size: calc(32px + 24 * (100vw - 375px) / 1545);
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -1px;
}
.title span {
  color: var(--main);
}

.subtitle {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
}

.text {
  font-weight: 400;
}

.tg {
  padding-left: calc(20px + 26 * (100vw - 375px) / 1545);
  padding-right: calc(20px + 26 * (100vw - 375px) / 1545);
  border-radius: 24px;
}
.tg * {
  font-size: 14px;
  font-family: "San Francisco Pro";
  font-weight: 400;
}
.tg__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 13px;
  overflow: hidden;
  width: 100%;
}
.tg-msg {
  background-color: #fff;
  color: var(--dark);
  border-radius: 5px;
  padding: 7px 11px;
  font-size: calc(14px + 6 * (100vw - 375px) / 1545);
}
.tg-msg img {
  height: 1em;
  vertical-align: middle;
}
.tg-msg b {
  font-weight: 700;
}
.tg-msg:not(:last-child) {
  margin-bottom: 3px;
}
.tg-msg .time {
  color: rgba(17, 17, 17, 0.4);
  font-weight: 500;
  font-size: calc(11px + 4 * (100vw - 375px) / 1545);
  padding-left: 5px;
  padding-top: 0.4em;
  float: right;
}
.tg-msg .clear {
  clear: both;
}

.tg-link {
  background-color: #96adc6;
  position: relative;
}
.tg-link::after {
  content: "";
  background: url("../img/icons/tg-link.svg") center/contain no-repeat;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 6px;
  right: 6px;
}

.tg-action {
  font-weight: 500;
  color: white;
  width: 100%;
  padding: 11px 0;
  border-radius: 5px;
}

.tg-code {
  background-color: var(--dark);
  padding: 11px;
  font-family: "SF-Mono", monospace;
  line-height: 1.5;
  font-size: calc(12px + 6 * (100vw - 375px) / 1545);
}
.tg-code .blue {
  color: #61baef;
}
.tg-code pre {
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

.blue {
  color: var(--main);
}

.header {
  padding-top: 44px;
}
.header__container {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  align-items: center;
  gap: 8px;
}
.header__logo {
  flex: 1;
}
.header__menu {
  display: none;
  gap: 32px;
  justify-content: center;
  flex: 1 1 auto;
}
.header__menu a {
  color: var(--dark);
  font-weight: 500;
}
.header__menu a:visited {
  color: var(--dark);
}
@media (min-width: 700px) {
  .header__menu {
    display: flex;
  }
}
.header__action-btn {
  background-color: rgba(41, 126, 226, 0.12);
  color: var(--main);
}

.logo {
  border-radius: 12px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}

.mode-switcher {
  padding: 5px;
  margin-right: 10px;
  height: 100%;
  background-color: transparent;
}
.mode-switcher img {
  width: calc(24px + 8 * (100vw - 375px) / 1545);
}

body.dark-theme .header__menu a {
  color: white;
}
body.dark-theme .header__action-btn {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  color: white;
}

.intro {
  margin-top: 40px;
  padding-bottom: calc(116px + 24 * (100vw - 375px) / 1545);
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 700px) {
  .intro__wrapper {
    flex-direction: row;
    gap: 0;
  }
}
.intro__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 700px) {
  .intro__body {
    align-items: flex-start;
    flex-basis: calc(300px + 450 * (100vw - 375px) / 1545);
  }
}
.intro__title {
  font-size: calc(46px + 34 * (100vw - 375px) / 1545);
  letter-spacing: -2.4px;
}
@media (min-width: 700px) {
  .intro__title {
    text-align: left;
  }
}
.intro__text {
  margin-top: calc(24px + 8 * (100vw - 375px) / 1545);
  text-align: center;
  font-weight: 400;
}
@media (min-width: 700px) {
  .intro__text {
    text-align: left;
  }
}
.intro__action-btn {
  margin-top: calc(12px + 20 * (100vw - 375px) / 1545);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 600;
}
@media (min-width: 700px) {
  .intro__action-btn {
    margin-left: 0;
  }
}
.intro__phone {
  flex: 1;
}

.intro-bots {
  margin-top: calc(24px + 32 * (100vw - 375px) / 1545);
}
.intro-bots__list {
  display: flex;
}
.intro-bots__item {
  width: calc(61px + 2 * (100vw - 375px) / 1545);
  height: calc(61px + 2 * (100vw - 375px) / 1545);
  border-width: calc(2px + 2 * (100vw - 375px) / 1545);
  border: 2px solid white;
  overflow: hidden;
  border-radius: 50%;
}
.intro-bots__item:not(:last-child) {
  margin-right: calc(-12px + -3 * (100vw - 375px) / 1545);
}
.intro-bots__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro-bots__text {
  margin-top: calc(14px + 2 * (100vw - 375px) / 1545);
  text-align: center;
}

.intro-phone {
  display: flex;
  justify-content: center;
}
.intro-phone img {
  width: calc(302px + 26 * (100vw - 375px) / 1545);
}

body.dark-theme .intro-bots__item {
  border-color: var(--dark);
}

.usecases {
  background-color: var(--dark-2);
  color: white;
  padding-top: calc(32px + 138 * (100vw - 375px) / 1545);
  padding-bottom: calc(32px + 138 * (100vw - 375px) / 1545);
}
.usecases__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
@media (min-width: 700px) {
  .usecases__wrapper {
    padding-bottom: 0;
    padding-right: 20px;
  }
}
.usecases .slider__slide:nth-child(1) .tg {
  background: linear-gradient(340deg, #faaca8 8.42%, #ddd6f3 91.45%);
}
.usecases .slider__slide:nth-child(2) .tg {
  background: linear-gradient(207deg, #fcb69f 6.91%, #ffecd2 92.45%);
}
.usecases .slider__slide:nth-child(3) .tg {
  background: linear-gradient(0deg, #c2e9fb -16.6%, #a1c4fd 106.15%);
}
@media (min-width: 700px) {
  .usecases .slider__slide {
    align-items: flex-start;
  }
}
.usecases .slider__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: -moz-min-content;
  width: min-content;
  flex: 1 1 auto;
  gap: 32px;
}
@media (min-width: 700px) {
  .usecases .slider__content {
    padding-bottom: 0;
    gap: calc(32px + 68 * (100vw - 375px) / 1545);
    flex-direction: row;
    width: auto;
  }
}
.usecases .tg {
  max-width: calc(100vw - 40px);
  max-height: calc(100vw - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(300px + 188 * (100vw - 375px) / 1545);
  width: calc(300px + 188 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .usecases .tg {
    height: calc(260px + 228 * (100vw - 375px) / 1545);
    width: calc(260px + 228 * (100vw - 375px) / 1545);
  }
}
.usecases__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
@media (min-width: 700px) {
  .usecases__body {
    align-items: flex-start;
    padding-right: 20px;
  }
}
@media (min-width: 700px) {
  .usecases__title {
    text-align: left;
  }
}
.usecases__text {
  margin-top: calc(24px + 8 * (100vw - 375px) / 1545);
  text-align: center;
  flex: 1;
}
@media (min-width: 700px) {
  .usecases__text {
    text-align: left;
  }
}
.usecases__action-btn {
  width: 100%;
  margin: 32px 0;
}
@media (min-width: 700px) {
  .usecases__action-btn {
    width: auto;
  }
}
.usecases__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 100%;
  width: calc(300px + 108 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .usecases__pagination {
    bottom: auto;
    left: auto;
    right: 0;
    top: 50%;
    transform: translate(calc(50% - 10px), -50%) rotate(90deg);
  }
  .usecases__pagination .slider__cur-count,
  .usecases__pagination .slider__all-count {
    transform: rotate(-90deg);
  }
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider__line {
  display: flex;
}
.slider__line.anim {
  animation: fade 0.6s forwards ease-out;
}
.slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.slider__dot {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.24);
  flex: 1 1 auto;
  border-radius: 90px;
}
.slider__dot.active-dot {
  pointer-events: none;
  background-color: var(--main);
}
.slider__cur-count, .slider__all-count {
  font-size: 14px;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.dark-theme .usecases {
  background-color: var(--dark-bg);
}

.features-currencies__body {
  display: flex;
  flex-wrap: wrap;
}
.dn {
  display: none;
}